@model List<TaskManger.Models.Task>

@{
    ViewBag.Title = "Create";
}


<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="TaskForm.css">
</head>
<body>
    <fieldset>
        <legend> General Info </legend>

        <div class="form-group">
        <label class="left"> Task Name </label><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
       <input type="text" name="TaskName" class="uniform568"> <br><br>
        </div>
        <div class="form-group">
        <label class="left"> Task Description </label><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <textarea rows="3" cols="50" class="uniform"></textarea>
        </div><br>
        <div class="form-group">
         <label class="left"> Requirements </label><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <textarea rows="3" cols="50" class="uniform"></textarea>
        </div><br><br>
        <input type="radio" name="SameName" value="Project">Project<br>
        <input type="radio" name="SameName" value="General">General<br><br><br>
        <label> Category </label>
        <select>
            <option>Request</option>
            <option>Announcement</option>
            <option>Event</option>
            <option>General</option>
            <option>Project</option>
            <option>To do</option>
            <option>Reminder</option>
        </select><br><br>
        <label> sub Category 1 \Proj List </label>
        <select>
            <option>Request</option>
            <option>Announcement</option>
            <option>Event</option>
            <option>General</option>
            <option>Project</option>
            <option>To do</option>
            <option>Reminder</option>
        </select><br><br>
        <label> sub Category 2 \Proj List </label>
        <select>
            <option>Request</option>
            <option>Announcement</option>
            <option>Event</option>
            <option>General</option>
            <option>Project</option>
            <option>To do</option>
            <option>Reminder</option>
        </select><br><br>
        <label> Assign to </label>
        <select>
             <option>All Teames \ Dept</option>
            <option>Announcement</option>
            <option>Event</option>
            <option>General</option>
            <option>Project</option>
            <option>To do</option>
            <option>Reminder</option>
        </select><br><br>
        <select>
             <option>Allusers</option>
            <option>Announcement</option>
            <option>Event</option>
            <option>General</option>
            <option>Project</option>
            <option>To do</option>
            <option>Reminder</option>
        </select><br><br>
        <select>
             <option>Allusers</option>
            <option>Announcement</option>
            <option>Event</option>
            <option>General</option>
            <option>Project</option>
            <option>To do</option>
            <option>Reminder</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Dates</legend>
        <label>StartDate</label>
        <select>
            <option></option>
            <option></option>
            <option></option>
        </select><br><br>
           <label>EndDate</label>
        <select>
            <option></option>
            <option></option>
            <option></option>
        </select><br><br>
        <label>Important Date</label>
        <select>
            <option></option>
            <option></option>
            <option></option>
        </select><br><br>
          <label>Priority Level</label>
        <select>
            <option></option>
            <option></option>
            <option></option>
        </select><br>
    </fieldset>
    <fieldset>
        <legend> Setting </legend>
        <label>Billable</label>
        <input type="radio" name="Billable" value="Billable"><br>
        <label>TimeTracking</label>
        <input type="radio" name="TimeTracking" value="TimeTracking"><br>
        <label>E-Approval Request</label>
        <input type="radio" name="E-Approval Request" value="E-Approval Request"><br>
    </fieldset>
    <fieldset>
        <legend> Attachements </legend>
        <label> Attach</label>
        <input type="file" name="Attach">
    </fieldset>
    <fieldset>
        <legend>Chate</legend>
        <h4>Clarifications and comments</h4>
        <label>General Description</label>
         <textarea rows="3" cols="50" placeholder="General Description"></textarea><br><br>
         <label> Attach</label>
        <input type="file" name="Attach">
    </fieldset>
    <fieldset>
        <legend>Task Closure</legend>
        <input type="checkbox" name="TaskClosure">Task Closure<br><br>
        <label>Closure Date</label>
        <input type="date" name="ClosureDate"><br><br>
        <label>General Description</label>
         <textarea rows="3" cols="50" placeholder="General Description"></textarea><br>
        <label> Attach</label>
        <input type="file" name="Attach"><br><br><br>
        <h4> Recieved Approval Feedback </h4><br>
        <label>Replay : </label>
       <input type="checkbox" name="same">Approved<br>
       <input type="checkbox" name="same">Rejected<br><br>
       <label>General Description</label>
       <textarea rows="3" cols="50" placeholder="General Description"></textarea><br>
       <label>satisfaction &nbsp; &nbsp; &nbsp; </label>
       <label>Quality</label>
       <input type="number" name="Quality"><br>
        <label>Time</label>
       <input type="number" name="Time"><br>
        <label>Performance</label>
       <input type="number" name="Performance"><br>
        <input type="checkbox" name="ser"> Move task to the next step
        <select>
            <option> project Activities list</option>
            <option> project Activities listt </option>
            <option> project Activities listtt </option>
        </select>
    </fieldset>
</body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TaskForm</title>
    <style>
        .hideMe {
            visibility: hidden;
        }

        .hiddingClosure {
            visibility: hidden;
        }

        .hiddingClosureTwo {
            visibility: hidden;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            border-left: 7px solid red;
        }

        input, textarea, select {
            border-radius: 5px;
            border: 1px solid gray;
        }

        textarea {
            resize: none;
        }

        select {
            border-radius: 10px;
        }

        .btn-toggle {
            margin: 0 4rem;
            padding: 0;
            position: relative;
            border: none;
            height: 1.5rem;
            width: 3rem;
            border-radius: 1.5rem;
            color: #6b7381;
            background: #bdc1c8;
        }

            .btn-toggle:focus,
            .btn-toggle.focus,
            .btn-toggle:focus.active,
            .btn-toggle.focus.active {
                outline: none;
            }

            .btn-toggle:before,
            .btn-toggle:after {
                line-height: 1.5rem;
                width: 4rem;
                text-align: center;
                font-weight: 600;
                font-size: 0.75rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                transition: opacity 0.25s;
            }

            .btn-toggle:before {
                content: 'Off';
                left: -4rem;
            }

        .one {
            padding-right: 30px;
        }

            .one:before {
                content: 'General ';
                font-weight: bolder;
                padding-right: 90px;
            }

        .btn-toggle:after {
            content: 'On';
            right: -4rem;
            opacity: 0.5;
        }

        .one:after {
            content: 'Project ';
            font-weight: bolder;
            padding-left: 10px;
            right: -4rem;
            opacity: 0.5;
        }

        .btn-toggle > .handle {
            position: absolute;
            top: 0.1875rem;
            left: 0.1875rem;
            width: 1.125rem;
            height: 1.125rem;
            border-radius: 1.125rem;
            background: #fff;
            transition: left 0.25s;
        }

        .btn-toggle.active {
            transition: background-color 0.25s;
            background-color: greenyellow;
        }

            .btn-toggle.active > .handle {
                left: 1.6875rem;
                transition: left 0.25s;
            }

            .btn-toggle.active:before {
                opacity: 0.5;
            }

            .btn-toggle.active:after {
                opacity: 1;
            }

        .Attach {
            border: none;
        }

        h2 {
            margin: 10px auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Create New Task</h2>
    <div class="d-flex flex-wrap align-items-stretch">
        <ul class="nav nav-tabs " id="myTab" role="tablist" style="width:20%;height:15%;border:1.3px solid gray;margin:5px 10px 0 5px;background-color: #CCC">
            <li style="width:100%">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">General Info</a>
            </li>
            <li style="width:100%">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="Dates" aria-selected="false">Dates</a>
            </li>
            <li style="width:100%">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Setting</a>
            </li>
            <li style="width:100%">
                <a class="nav-link" id="Attachement-tab" data-toggle="tab" href="#Attachement" role="tab" aria-controls="Attachement" aria-selected="false">Attachement</a>
            </li>
            <li style="width:100%">
                <a class="nav-link" id="Chate-tab" data-toggle="tab" href="#Chate" role="tab" aria-controls="Chate" aria-selected="false">Chate</a>
            </li>
            <li style="width:100%">
                <a class="nav-link" id="TaskClosure-tab" data-toggle="tab" href="#TaskClosure"
                   role="tab" aria-controls="TaskClosure" aria-selected="false">Task Closure</a>
            </li>
        </ul>
        <form method="post">
            <div class="tab-content" id="myTabContent" style="width:75%; min-height:100vh;">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <h3>General Info:</h3>
                    <table>
                        <tr>
                            <th>Task Name</th>
                            <td><input type="text" name="Name" style="width: 100%" required /></td>
                        </tr>
                        <tr>
                            <th>Task Description</th>
                            <td><textarea rows="2" cols="50" name="Description" required></textarea></td>
                        </tr>
                        <tr>
                            <th>Task Requirements</th>
                            <td><textarea rows="2" cols="50" name="Requirement" required></textarea></td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <th></th>
                            <td>
                                <div class="col-sm-5">
                                    <button id="hideStuff" type="button" name="Billable" class="btn btn-lg btn-toggle one" data-toggle="button" aria-pressed="false" autocomplete="off">
                                        <div class="handle"></div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr id="secondHideMe" class="hideMe">
                            <th>Category</th>
                            <td>

                                @Html.DropDownList("CategoryList" , ViewBag.CategoryList as SelectList, "Please Select Category")

                            </td>
                        </tr>
                        <tr id="firstHideMe" class="hideMe"> 
                            <th>Sub Category 1\Proj List &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <td>
                                @Html.DropDownList("PrimaryCategoryList", ViewBag.SecondarySubCategoryList as SelectList, "Please Select Category")

                            </td>
                        </tr>
                        <tr id="thirdHideMe" class="hideMe">
                            <th>Sub Category 2\Proj List &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <td>
                                @Html.DropDownList("SecondaryCategoryList", ViewBag.SecondarySubCategoryList as SelectList, "Please Select Category")
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr id="fifthHideMe" class="hideMe">
                            <th>Assign to</th>
                            <td>
                                <select name="Name" style="width: 40%;font-size: .9em" required>
                                    <option>Team 1\Accounting</option>
                                    <option>Team 2\Managment</option>
                                    <option>Team 3\ HR</option>
                                    <option>Team 4\Computer Dep</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="fourthHideMe" class="hideMe">
                            <th></th>
                            <td>
                                <select name="FirstName" style="width: 40%" required>
                                    <option>Ahmed</option>
                                    <option>Mohamed</option>
                                    <option>ESmeil</option>
                                    <option>Hussien</option>
                                    <option>Atef</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="Dates-tab">
                    <h3>Date:</h3>

                    <table>
                        <tr>
                            <th>Start Date</th>
                            <td><input type="date" name="StartDate"></td>
                        </tr>
                        <tr>
                            <th>End Date</th>
                            <td><input type="date" name="EndDate"></td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <th>Important Dates</th>
                            <td><input type="date" name="ImpDate"></td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <th>Priority Level &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <td>
                                @Html.DropDownList("PriortyLevel", ViewBag.PriorityList as SelectList, "Please Select Category")

                            </td>
                        </tr>
                    </table>

                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="Setting-tab">
                    <h3>Setting</h3>

                    <table>
                        <tr>
                            <th>Billable &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <td>
                                <div class="col-sm-5">
                                    <button type="button" name="Billable" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                                        <div class="handle"></div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Time Tracking &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <td>
                                <div class="col-sm-5">
                                    <button type="button" name="TimeTracking" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                                        <div class="handle"></div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>E-Approval Request &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <td>
                                <div class="col-sm-5">
                                    <button type="button" name="EApprove" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                                        <div class="handle"></div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="tab-pane fade" id="Attachement" role="tabpanel" aria-labelledby="Setting-tab">
                    <h3>Attachement</h3>

                    <table>
                        <tr>
                            <th>Attach &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <td> <input type="file" name="FileName" class="Attach" ></td>
                        </tr>
                    </table>
                    </>
                </div>
                <div class="tab-pane fade" id="Chate" role="tabpanel" aria-labelledby="Setting-tab">
                    <h3>Chate</h3>

                    <table>
                        <tr>
                            <th>General Description &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <td>
                                <textarea rows="2" cols="50" name="Comment" ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>Attach &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <td> <input type="file" name="FileName" class="Attach" ></td>
                        </tr>
                    </table>
                    <button type="submit">Save</button>
                </div>
                
        </form>
        <div class="tab-pane fade" id="TaskClosure" role="tabpanel" aria-labelledby="Setting-tab">
            <h3>Task Closure</h3>

            <table>
                <tr>
                    <th> <input type="checkbox" name="TaskClosure" id="Activator">&nbsp;Task Closure</th>
                    <td></td>
                </tr>
                <tr id="Closurefirst" class="hiddingClosure">
                    <th>Closure Date </th>
                    <td><input type="date" name="ClosureDate"></td>
                </tr>
                <tr id="ClosureSecond" class="hiddingClosure">
                    <th>General Description</th>
                    <td><textarea rows="2" cols="50" name="Comment" required></textarea></td>
                </tr>
                <tr id="ClosureThird" class="hiddingClosure">
                    <th>Attach &nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <td> <input type="file" name="FileName" class="Attach" ></td>
                </tr>
                <tr id="ClosureThirdd" class="hiddingClosure"><td><br></td></tr>
                <tr id="ClosureThirddd" class="hiddingClosure"><td><br></td></tr>
                <tr id="ClosureForth" class="hiddingClosure">
                    <th>Received Approval feedback</th>
                    <td></td>
                </tr>
                <tr id="ClosureForthh" class="hiddingClosure"><td><br></td></tr>
                <tr id="ClosureForthhh" class="hiddingClosure"><td><br></td></tr>
                <tr id="ClosureFifth" class="hiddingClosure">
                    <th></th>
                    <td>
                        Replay: &nbsp;<input type="checkbox" name="isapprove" value="1">
                        Approved <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" name="isapprove" value="2">Rejected
                    </td>
                </tr>
                <tr id="Closures7th" class="hiddingClosure">
                    <th>Comment</th>
                    <td><textarea rows="2" cols="50" name="Comment" required></textarea></td>
                </tr>
                <tr id="Closures8th" class="hiddingClosure">
                    <th> <span style="font-weight: bold">Satisfaction</span> </th>
                    <td>
                        <table>
                            <tr>
                                <th>Quality&nbsp;</th>
                                <td><input type="number" name="Quality" style="width: 50%">%</td>
                            </tr>
                            <tr>
                                <th>Time&nbsp;</th>
                                <td><input type="number" name="Time" style="width: 50%">%</td>
                            </tr>
                            <tr>
                                <th>Performance&nbsp;</th>
                                <td><input type="number" name="Performance" style="width: 50%">%</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <div id="Closures9th" class="hiddingClosure">
                <button id="finalActivation" type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <div class="handle"></div>
                </button><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp; Move Task to the next step</span>
            </div>

        </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        document.getElementById("hideStuff").addEventListener('click', function(){
            document.getElementById("firstHideMe").classList.toggle("hideMe");
        document.getElementById("secondHideMe").classList.toggle("hideMe");
        document.getElementById("thirdHideMe").classList.toggle("hideMe");
        document.getElementById("fourthHideMe").classList.toggle("hideMe");
            document.getElementById("fifthHideMe").classList.toggle("hideMe");
        });
         document.getElementById("Activator").addEventListener('click', function(){
            document.getElementById("Closurefirst").classList.toggle("hiddingClosure");
        document.getElementById("ClosureSecond").classList.toggle("hiddingClosure");
        document.getElementById("ClosureThird").classList.toggle("hiddingClosure");
        document.getElementById("ClosureThirdd").classList.toggle("hiddingClosure");
            document.getElementById("ClosureThirddd").classList.toggle("hiddingClosure");
             document.getElementById("ClosureForth").classList.toggle("hiddingClosure");
             document.getElementById("ClosureForthh").classList.toggle("hiddingClosure");
             document.getElementById("ClosureForthhh").classList.toggle("hiddingClosure");
             document.getElementById("ClosureFifth").classList.toggle("hiddingClosure");
             document.getElementById("Closures7th").classList.toggle("hiddingClosure");
             document.getElementById("Closures8th").classList.toggle("hiddingClosure");
             document.getElementById("Closures9th").classList.toggle("hiddingClosure");


        });
        document.getElementById("finalActivation").addEventListener('click', function(){
             document.getElementById("Closures10th").classList.toggle("hiddingClosureTwo")});
    </script>
</body>
</html>